// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  font-size: .94rem;
  font-family: 'rubik', sans-serif;
  border: 1px solid transparent;
  border-radius: none;
  padding: .55vw 3.1vw;
}

// Primary
.btn-primary {
  background-color: white;
}

.btn-primary-outline {
  background-color: white;
  border: 1px solid black;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.3rem;
    padding: 2.7vw 18vw;
  }
}