// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Rubik
@font-face {
  font-family: 'rubik';
  src: url('../font/Rubik-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../font/Rubik-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}